.cloudify
.vagrant
*.pyc
*.tar.gz
*.log
*.pid
.idea/*
dice_deploy_django/uploads/*
db.sqlite3
dice_deploy_django/celery.err
dice_deploy_django/celery.out
dice_deploy_django/cfy_wrapper_gui/static/bower_components/
dice_deploy_django/test_db.sqlite3
!dice_deploy_django/unit_tests/files/*
.dice-deploy-url
.dice-deploy-auth
inputs-*.yaml
env.sh
