<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    "{{ container.description }}" Error Log
                </h4>
            </div>
            <div class="modal-body">

                <div class="container-error-list">
                    <div ng-repeat="err in errors" class="container-error-single">
                        <div><b>{{ parentScope.getDatetimeStr(err.created_date) }}</b></div>
                        <code>{{ err.message }}</code>
                        <div class="container-error-single-separator" ng-hide="$last"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(true)" class="btn btn-primary"
                        data-dismiss="modal">OK
                </button>
            </div>
        </div>
    </div>
</div>
