<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <h4 class="modal-title">
            <div>New Container</div>
        </h4>
      </div>
      <div class="modal-body" ng-init="data={}">
        <div>
            <input type="text" class="form-control" placeholder="Container Description (optional)" ng-model="data.description" autofocus>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close(data)" class="btn btn-primary" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>