<div ng-class="{container: !embeddedMode}">
    <div ng-class="{row: !embeddedMode}">

        <div class="dice-general-toolbar" ng-hide="embeddedMode">
            <button class="pull-right dice-btn dice-btn-add" ng-click="addContainer()" title="Create empty container">
                <span class="glyphicon glyphicon-plus"></span>
                New Container
            </button>
        </div>


        <div ng-repeat="cont in containers">
            <div class="dice-container">

                <div class="dice-container-title">
                    <span class="dice-container-graphic"></span>
                    <span class="title-font dice-container-description">{{ cont.description }}</span>
                    <div class="pull-right text-right dice-container-id-div">
                        <span class="dice-container-id">{{ cont.id }}</span>
                        <span ng-hide="embeddedMode" class="dice-container-remove" ng-click="removeContainer(cont)" title="Remove container"></span>
                    </div>
                </div>

                <div class="dice-container-controls">
                        <div ng-click="undeployBlueprint(cont)" ng-show="cont.blueprint" class="dice-btn dice-btn-default dice-btn-icon dice-btn-undeploy">
                            Undeploy Blueprint
                        </div>
                        <div ng-click="redeployBlueprint(cont)" ng-show="cont.blueprint" class="dice-btn dice-btn-default dice-btn-icon dice-btn-redeploy">
                            Redeploy
                        </div>

                        <!-- file upload -->
                        <div class="file-upload">
                            <label ng-click="initUploader(cont)" title="Upload input file">
                                <input type="file" nv-file-select="" uploader="uploader" style="display: none;" />
                                <div class="dice-btn dice-btn-default dice-btn-icon dice-btn-upload">
                                    Upload Blueprint
                                </div>
                            </label>
                            <div ng-show="(uploader.containerId == cont.id) && uploader.upload_errors" class="file-upload-metadata upload-error">
                                {{ uploader.upload_errors }}
                            </div>
                            <div ng-show="uploader.containerId == cont.id" ng-repeat="item in uploader.queue" class="file-upload-metadata">
                                <strong>{{ item.file.name }}</strong>
                                <span ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }} kB</span>

                                <button type="button" class="btn dice-btn-success btn-xs" ng-click="item.upload()" style="width: 80px">
                                    <span ng-hide="item.progress"><span class="glyphicon glyphicon-upload"></span> UPLOAD</span>
                                    <span ng-show="item.progress" class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">{{ item.progress }}%</span>
                                </button>
                                <button type="button" class="btn dice-btn-danger btn-xs" ng-click="item.remove()" ng-hide="item.progress == 100">
                                    <span class="glyphicon glyphicon-stop"></span> CANCEL
                                </button>
                                <span ng-show="item.progress == 100">
                                     Please wait... <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </div>
                        </div>
                        <!-- / file upload-->

                </div>

                <div class="dice-container-body">
                    <div ng-show="cont.blueprint">

                        <div ng-show="isBlueprintBeingDeployed(cont.blueprint)">
                            <div class="loadbar loadbar-deploy"></div>
                            <blueprint-status curr-state="cont.blueprint.state_name" all-states="blueprintDeployStates" ng-if="cont.blueprint"></blueprint-status>
                            <div class="dice-blueprint-time">Waiting step since: {{ getBlueprintDatetimeStr(cont.blueprint) }}</div>
                        </div>

                        <div ng-show="isBlueprintBeingUndeployed(cont.blueprint)">
                            <div class="loadbar loadbar-undeploy"></div>
                            <blueprint-status curr-state="cont.blueprint.state_name" all-states="blueprintUndeployStates" ng-if="cont.blueprint"></blueprint-status>
                            <div class="dice-blueprint-time">Waiting step since: {{ getBlueprintDatetimeStr(cont.blueprint) }}</div>
                        </div>

                        <div ng-show="isBlueprintUndeployed(cont.blueprint)">
                            <span class="glyphicon glyphicon-warning-sign dice-warning-sign"></span>
                            <span class="dice-warning">Blueprint is here, but is not deployed.</span>
                            <div class="dice-blueprint-time dice-time-under-msg">Since {{ getBlueprintDatetimeStr(cont.blueprint) }}</div>
                        </div>

                        <div ng-show="isBlueprintError(cont.blueprint)">
                            <span class="glyphicon glyphicon-exclamation-sign dice-error-sign"></span>
                            <span class="dice-error">Blueprint has error state.</span>
                            <div class="dice-blueprint-time dice-time-under-msg">Since {{ getBlueprintDatetimeStr(cont.blueprint) }}</div>
                            <div class="blueprint-subcontent">
                                <div ng-click="showContainerErrors(cont)" class="dice-btn dice-btn-default">Details...</div>
                            </div>

                        </div>


                        <div ng-show="isBlueprintDeployed(cont.blueprint)" class="dice-blueprint-deployed-msg">
                            <span class="glyphicon glyphicon-ok dice-ok-sign"></span>
                            <span class="dice-success">Blueprint successfully deployed</span>
                            <div class="dice-blueprint-time dice-time-under-msg">Since {{ getBlueprintDatetimeStr(cont.blueprint) }}</div>

                            <!-- uncomment to show full outputs json
                            <pre ng-bind-html="cont.blueprint.outputs | json:4 | linky:'_blank'" class="dice-blueprint-outputs"></pre>
                            -->

                            <table class="table table-bordered dice-outputs-table">
                                <thead class="dice-outputs-thead">
                                    <tr>
                                        <th>Output Name</th>
                                        <th>Value</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody class="dice-outputs-tbody">
                                    <tr ng-repeat="(name, valueObj) in cont.blueprint.outputs">
                                        <td>{{ name }}</td>
                                        <td ng-bind-html="valueObj.value | linky:'_blank'"></td>
                                        <td>{{ valueObj.description }}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div ng-hide="cont.blueprint">
                        Please upload blueprint
                    </div>
                </div>

                <div class="dice-container-footer">
                    Blueprint ID:
                    <span ng-show="cont.blueprint" class="dice-blueprint-id">{{ cont.blueprint.id }}</span>
                    <span ng-hide="cont.blueprint" class="dice-blueprint-id">/</span>
                </div>

            </div>
        </div>
        <p ng-if="containers.length == 0">
            <span ng-hide="embeddedMode">There are no containers yet! Please add one using the button above.</span>
            <span ng-show="embeddedMode">Could not obtain any data for container with id "{{ embeddedMode.containerId }}".</span>
        </p>

    </div>
</div>