/* http://paletton.com/#uid=63q0h0kcVOX7CTdakR0foNahLLO */
a{
    color: #227DA0;
}
.dice-title{
    padding-top: 30px;
}
.dice-container-title{
    font-size: 22px;
    padding-bottom: 15px;
}
.dice-container-controls{
    text-align: right;
}
.dice-general-toolbar{
    padding-top: 20px;
    padding-bottom: 20px;
}
.file-upload{
    display: inline-block;
}
.file-upload div{
    display: inline-block;
}
.file-upload .progress-bar{
    height: 18px;
    background-color: darkgreen;
    color: white;
}
.file-upload-metadata.upload-error{
    color: #E77367;
    font-weight: 700;
}
.dice-container {
    margin-top: 50px;
}
.dice-container .panel-heading{
    background-color: #84DEC5;
}
.dice-container-footer{
    text-align: right;
}
.dice-container-footer span{
    font-weight: bold;
    color: #aaa;
}
#footer{
    padding-top: 30px;
}
div#footer #credits{
    background-color: #ECEFF1;
    padding-top: 50px;
    padding-bottom: 50px;
}
div#footer #credits .comment{
    color: darkgray;
    padding-top: 20px;
}
div#footer #credits .comment a{
    color: darkgray;
    font-weight: 700;
    text-decoration: underline;
}
div#footer #partners{
    padding-top: 80px;
    padding-bottom: 50px;
}
div#footer #partners .subtitle{
    font-weight: 700;
}
.dice-content{
    min-height: 800px;
}
.dice-container-description{
    padding-left: 15px;
    font-size: 30px;
    color: #228A6D
}
.dice-container-id{
    font-size: 12px;
    color: #B2EADB;
    background: transparent;
}
.dice-blueprint-id{
    font-size: 12px;
    color: #B2EADB;
    background: transparent;
}
.blueprint-status{
    border: 1px solid black;
}
/* blueprint states */
.dice-state-not-yet{

}
.dice-state-already{
    color: white;
    background-color: #84DEC5;
    border-color: #228A6D;
}
.dice-state-currently{
    background-color: #FFCE98;
    background-image: linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
    animation: progress-bar-stripes 3s linear infinite;
    background-size: 40px 40px;
    font-weight: bold;
    border-top-color: #FFBB72;
    border-bottom-color: #FFBB72;
    margin-left: 0px!important;
}
.dice-blueprint-deployed-msg{
    padding-top: 15px;
}
.dice-blueprint-deployed-msg span.dice-ok-sign{
    padding-right: 10px;
    color: #84DEC5;
}
.dice-blueprint-time{
    font-style: italic;
    font-size: small;
    color: gray;
    padding-left: 15px;
}
.dice-blueprint-outputs{
    margin-top: 20px;
    background-color: lightblue;
}
.dice-outputs-table{
    margin-top: 15px;
}
.dice-outputs-table thead{
    background-color: #86C4DB;
    color: white;
}
.dice-success{
    color: #84DEC5;
    font-weight: bolder;
}
.dice-btn-danger{
    background-color: #FFBB72;
    border-color: #FFBB72;
    color: white;
}
.dice-btn-default{
    background-color: #B2EADB;
    border-color: #B2EADB;
    color: white;
}
.dice-btn-success{
    background-color: #71D9BC;
    border-color: #71D9BC;
    color: white;
}
.dice-success-timestamp{
    color: lightgray;
    font-style: italic;
    padding-left: 28px;
}



